* {
    font-family: 'Consolas';
    margin: 0;
    padding: 0;
}

#pageTitle {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    text-shadow: 1px 1px 1px grey;
}

form {
    text-align: center;
    margin-bottom: 5%;
}

form #taskBox {
    font-size: medium;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

form #taskSubmit {
    font-size: medium;
    padding: 10px;
}

ul {
    width: fit-content;
    list-style: none;
    text-align: left;
    margin: 0 auto;
}

ul li {
    border-radius: 5px;
    padding: 10px;
    user-select: none;
}

li:hover {
    background-color: whitesmoke;
}